#HealthBar > #unity-progress-bar > .unity-progress-bar__background > .unity-progress-bar__progress {
    background-color: rgb(176, 62, 62);
    border-left-color: rgb(0, 0, 0);
    border-right-color: rgb(0, 0, 0);
    border-top-color: rgb(0, 0, 0);
    border-bottom-color: rgb(0, 0, 0);
}
